<launch>
    <!-- Start the velocities conversion program -->
    <node pkg="convert_velocities" type="convert_vels.py" name="vel_subscriber" output="screen" />
    
    <!-- Start publishing Twist messages -->
    <node pkg="convert_velocities" type="publish_vels.py" name="publish_vel" output="screen" />
</launch>